/**
 * Global CSS for Docusaurus site.
 * Infima variables customized with new color palette.
 */

:root {
  --ifm-color-primary: #5a5bb5;
  --ifm-color-primary-dark: #5152a3;
  --ifm-color-primary-darker: #4a4b95;
  --ifm-color-primary-darkest: #3c3d79;
  --ifm-color-primary-light: #6b6cc4;
  --ifm-color-primary-lighter: #7d7ed3;
  --ifm-color-primary-lightest: #9697e2;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}


[data-theme='dark'] {
  --ifm-color-primary: #7f80dd;
  --ifm-color-primary-dark: #7374c7;
  --ifm-color-primary-darker: #6869b6;
  --ifm-color-primary-darkest: #56579a;
  --ifm-color-primary-light: #8d8eee;
  --ifm-color-primary-lighter: #9e9fff;
  --ifm-color-primary-lightest: #b7b8ff;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Add styles to make YouTube videos larger */
.container-iframe {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}